@page "/"
@attribute [Authorize]
@using GridBlazor;
@using GridShared;
@using GridShared.Utility;
@using KGD.Data;
@using KGD.Services;
@using Microsoft.Extensions.Primitives
@inject KGDService KGDService

@*
<PageTitle>Index</PageTitle>
<h1>Hello, world!</h1>
Welcome to your new app.
<SurveyPrompt Title="How is Blazor working for you?" />
*@
@if (_task.IsCompleted)
{
    <GridComponent T="WeatherForecast" Grid="@_grid"></GridComponent>
}
else
{
    <p><em>Loading...</em></p>
}

@code
{
    private CGrid<WeatherForecast> _grid;
    private Task _task;

    protected override async Task OnParametersSetAsync()
    {
        Action<IGridColumnCollection<WeatherForecast>> columns = c =>
        {
            c.Add(o => o.Date);
            c.Add(o => o.TemperatureF);
            c.Add(o => o.Summary);
        };

        var query = new QueryDictionary<StringValues>();
        query.Add("grid-page", "2");

        var client = new GridClient<WeatherForecast>(q => KGDService.GetKGDAsync(columns, q), query, false, "ordersGrid", columns, new CultureInfo("ru-RU"));
        _grid = client.Grid;
        _task = client.UpdateGrid();
        await _task;
    }
}